:root {
  --lb-background: #202830;
  --lb-orange: #ff8000;
  --lb-green: #00e054;
  --lb-blue: #40bcf4;
}

@font-face {
  font-family: "SharpGrotesk";
  src: url("../fonts/SharpGrotesk-SemiBold20.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
