:root {
  --lb-background: #202830;
  --lb-orange: #ff8000;
  --lb-green: #00e054;
  --lb-blue: #40bcf4;
}

.hidden {
  display: none;
}

.invalid-user {
  color: #e74c3c;
  font-size: 0.9rem;
}

.error {
  border-color: red;
  animation: shake 0.3s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
